html,body{font-family:sans-serif;color:#000;background:#c2c2c2;margin:0;padding:0;}
ul,li{margin:0;padding:0;}
h1{font-size:1.6em;font-weight:bold;margin:0;padding:0;}
#header{text-align:center;background-color:#2C3238;}
#header a{text-decoration:none;;display:block;}
#header h1{width:100%;color:#000;padding:15px 0;border-bottom:solid 1px #000;margin:0;background:url('logo.png') no-repeat 50% 50%;text-indent:100%;white-space:nowrap;overflow: hidden;}
#subheader{text-align:center;background-color:#eee;margin:0;padding:0;border-bottom:1px solid #000;}
#subheader a{text-decoration:none;color:#000;background:#fff url("left.png") no-repeat 95% 50%;display:block;}
#subheader h2{margin:0;padding:15px 0;}
#videotitle{margin:0;padding:0;text-align:center;background-color:#3e3;border-bottom:1px solid #000;}
#videotitle h3{margin:0;padding:15px 0;display:block;}
h2{font-size:1.4em;font-weight:bold;margin:0 0 5px 5px;clear:both;}
li a{font-size:1.3em;color:#000;}
li.comment a,.vdetails li a{font-size:1em;}
.vlink{clear:both;list-style:none;overflow:hidden;display:block;height:90px;border-bottom:solid 1px #000;text-align:left;}
.vlink a{text-decoration:none;}
.vlink h3{display:block;font-size:0.8em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:3px 10px 0 0;padding:0;}
.vlink p{display:block;clear:right;font-size:0.7em;overflow:hidden;margin:0;padding:0 15px 0 0;height:75px;position:relative;z-index:0;border-bottom:solid 1px #fff;}
.vlink p span{display:block;height:75px;position:absolute;bottom:0;right:0;background: transparent url('gradient.png') repeat-x 0 100%;z-index:10;width:100%;border-bottom:solid 1px #fff;}
.vlink img{float:left;width:160px;height:90px;background:#666;border-right:solid 1px #000;margin: 0 5px 0 0;}
.vlink h3{text-align:left;}
#v{text-align:center;}
#v video{margin:0;padding:0;width:100%;min-height:inherit;}
#v p{margin:0px;text-align:left;}
#footer{text-align:center;margin:0;padding:0;background:#fe3;}
#footer h4{width:100%;padding:20px 0;margin:0;}
#footer a{text-decoration:none;color:#000;display:block;font-weight:bold;}
#loading{text-align:center;padding:40px 0;}
#wait{text-align:left;margin:0 auto;width:100px;font-size:1.5em;color:#711;font-weight:bold;}
#categories{list-style:none;}
#categories .cat{text-decoration:none;display:block;border-bottom:solid 1px #000;padding:20px;background:#c2c2c2 url("right.png") no-repeat 95% 50%;}
#categories form{display:block;border-bottom:solid 1px #000;padding:20px;margin:0;white-space:nowrap;}
.nomp4{margin:0;padding:30px 5px;background-color:#000;color:#fff;}
.nomp4 a{color:#fe3;font-weight:bold;}
.vdetails{text-align:left;}
.vdetails,#sponsor{margin:0;padding:0 15px;}
.vdetails li{list-style:none;}
#sponsor{margin:5px 0;padding:0;text-align:center;}
.about,form{margin:10px;padding:10px;text-align:center;}
.about a,.comment a,.vdetails a{text-decoration:underline;color:#00f;font-weight:bold;}
p{padding:15px;margin:0;}
h3{font-weight:bold;padding:15px;letter-spacing:-1px;margin:0;text-align:center;}
#sponsor h3{font-weight:bold;padding:5px;letter-spacing:-1px;margin:0;text-align:center;}
.comment{list-style:none;margin:0;padding:5px 15px;text-align:left;}
form{margin:0;padding:0;clear:both;display:block;position:relative;}
#q{font-size:2.2em;width:60%;background:#eee;border:none;margin:0;padding:5px;display:block;position:absolute;top:0;left:0;}
a.search-link{padding:5px;margin:0;background:#8396a8;color:#000;font-weight:bold;text-decoration:none;border-right:none;display:block;position:absolute;right:0;top:0;width:40%;font-size:2.2em;border-bottom:none;border-top:none;border-left:1px solid #000;}
a.button-link{padding:15px;background:#2C3238;color:#fff;font-weight:bold;text-decoration:none;box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(0,0,0,0.2);}
.about a.button-link{padding:15px 40px;}
.error{padding:30px 0;color:#711;font-height:bold;font-size:1.5em;}
#clips,#u{text-align:center;}
a.userlink{text-decoration:none;color:#fff;background:#2C3238;display:inline-block;padding:5px;border-radius:3px;}
